swagger: "2.0"
info:
  description: 'Documentation of the sportify backend.'
  version: "0.1.0"
  title: "Sportify"
  contact:
    email: "marco.seidel@envidual.com"
host: "sportify.envidual.com"
schemes:
- "https"
tags:
  - name: "Scores"
  - name: "Users"
  - name: "Competitions"
paths:
  /scores:
    get:
      tags:
        - "Scores"
      summary: "Get scores of users"
      parameters:
        - name: "userId"
          in: "query"
          type: "integer"
          description: "Only the selected user"
        - name: "exerciseId"
          in: "query"
          type: "integer"
          description: "Only the selected exercise"
        - name: "timestamp"
          in: "query"
          type: "integer"
          description: "Only scores which were saved after a particular time"
        - name: "highscore"
          in: "query"
          type: "boolean"
          description: "All or only the highest scores for the respective exercises"
      responses:
        "200":
          description: "List aquired"
          schema:
            type: array
            items:  
              $ref: "#/definitions/Score"
        "400":
          description: "Bad request"     

    put:
      tags:
        - "Scores"
      summary: "Post a new score"
      parameters:
        - name: "body"
          in: "body"
          schema:
            $ref: "#/definitions/Score"
      responses:
        "201":
          description: "Score got created"
        "400":
          description: "Bad request"

  /users:
    get:
      tags:
        - "Users"
      summary: "Get a list of users"
      responses:
        "200":
          description: "Users aquired"
          schema:
            type: "array"
            items: 
              $ref: "#/definitions/User"
        "400":
          description: "Bad request"

    post:
      tags:
        - "Users"
      summary: "Register a new user"
      parameters:
        - name: "body"
          in: "body"
          schema:
            type: "object"
            properties: 
              name:
                type: "string"

      responses:
        "201":
          description: "User created"
          schema:
            items:  
              $ref: "#/definitions/User"

        "400":
          description: "Bad request"
        "409":
          description: "Conflict; name already exists"

  /users/{id}:
    get:
        tags:
          - "Users"
        summary: "Get a specific user"
        responses:
          "200":
            description: "User aquired"
            schema:
              items: 
                $ref: "#/definitions/User"
          "400":
            description: "Bad request"

  /competitions:
    get:
      tags:
        - "Competitions"
      summary: "Get a list of all competitons"
      parameters:
        - name: "userId"
          in: "query"
          type: "integer"
          description: "Only the specified user"
        - name: "timestamp"
          in: "query"
          type: "string"
          format: "date-time"
          description: "Only competitions which were created after a particular time"

      responses:
        "200":
          description: "Competitions aquired"
          schema:
            type: "array"
            items: 
              $ref: "#/definitions/Competition"
        "400":
          description: "Bad request"

    post:
      tags:
        - "Competitions"
      summary: "Create new Competition"
      parameters:
        - name: "body"
          in: "body"
          schema:
            type: "object"
            properties: 
              userIdOne:
                type: "integer"
              userIdTwo: 
                type: "integer"
      responses:
        "201":
          description: "User created"
        "400":
          description: "Bad request"

  /competitions/{id}:
    get:
        tags:
          - "Competitions"
        summary: "Get a specific competition"
        responses:
          "200":
            description: "Users aquired"
            schema:
              type: "array"
              items: 
                $ref: "#/definitions/Competition"
          "400":
            description: "Bad request"
          "501": 
            description: "Not implemented"

    

definitions:
  User:
    type: "object"
    properties: 
      id: 
        type: "integer"
      name:
        type: "string"

  Score:
    type: "object"
    properties: 
      userId:
        type: "integer"
      timestamp:
        type: "integer"
        format: "int64"
      exerciseId:
        type: "integer"
      score:
        type: "integer"

  Competition: 
    type: "object"
    properties: 
      competitionId: 
        type: "integer"
      userIdOne:
        type: "integer"
      userIdTwo: 
        type: "integer"
      creationTimestamp: 
        type: "integer"
        format: "int64"
      scores: 
        type: "array"
        items: 
          $ref: "#/definitions/Score"


      
        
  