swagger: "2.0"
info:
  description: 'Documentation of the sportify backend.'
  version: "0.1.0"
  title: "Sportify"
  contact:
    email: "marco.seidel@envidual.com"
host: "sportify.envidual.com"
schemes:
- "https"
tags:
  - name: "Scores"
  - name: "Users"
  - name: "Competitions"
paths:
  /scores:
    get:
      tags:
        - "Scores"
      summary: "Get scores of users"
      parameters:
        - name: "userName"
          in: "query"
          type: "string"
          description: "Only the selected user"
        - name: "exerciseName"
          in: "query"
          type: "string"
          description: "Only the selected exercise"
        - name: "timestamp"
          in: "query"
          type: "integer"
          description: "Only scores which were saved after a particular time"
        - name: "highscore"
          in: "query"
          type: "boolean"
          description: "All or only the highest scores for the respective exercises"
      responses:
        "200":
          description: "List aquired"
          schema:
            type: array
            items:  
              $ref: "#/definitions/Score"     
    put:
      tags:
        - "Scores"
      summary: "Post a new score"
      parameters:
        - name: "body"
          in: "body"
          schema:
            $ref: "#/definitions/Score"
      responses:
        "201":
          description: "Score got created"
        "400":
          description: "Bad request"

  /users:
    get:
      tags:
        - "Users"
      summary: "Get a list of users"
      responses:
        "200":
          description: "Users aquired"
          schema:
            type: "array"
            items: 
              $ref: "#/definitions/User"
    put:
      tags:
        - "Users"
      summary: "Register a new user"
      parameters:
        - name: "body"
          in: "body"
          schema:
              $ref: "#/definitions/User"

      responses:
        "201":
          description: "User created"
        "204":
          description: "No response"

  /competitions:
    get:
      tags:
        - "Competitions"
      summary: "Get a list of all competitons"
      parameters:
        - name: "name"
          in: "query"
          type: "string"
          description: "Only the specified user"
        - name: "timestamp"
          in: "query"
          type: "string"
          format: "date-time"
          description: "Only competitions which were created after a particular time"

      responses:
        "200":
          description: "Competitions aquired"
          schema:
            type: "array"
            items: 
              $ref: "#/definitions/Competitions"

  /competitions/{competitionId}:
    get:
        tags:
          - "Competitions"
        summary: "Get a specific competition"
        responses:
          "200":
            description: "Users aquired"
            schema:
              type: "array"
              items: 
                $ref: "#/definitions/Competition"

    put:
      tags:
        - "Competitions"
      summary: "Create new Competition"
      parameters:
        - name: "body"
          in: "body"
          schema:
            type: "object"
            properties: 
              userNameOne:
                type: "string"
              userNameTwo: 
                type: "string"
              timestamp: 
                type: "integer"
      responses:
        "201":
          description: "User created"
        "204":
          description: "No response"

definitions:
  User:
    type: "object"
    properties: 
      name:
        type: "string"

  Score:
    type: "object"
    properties: 
      userName:
        type: "string"
      timestamp:
        type: "string"
        format: "date-time"
      exerciseName:
        type: "string"
      score:
        type: "integer"
        
  Competition: 
    type: "object"
    properties: 
      userNameOne:
        type: "string"
      userNameTwo: 
        type: "string"
      scoreOne: 
        type: "integer"
      scoreTwo: 
        type: "integer"
      creationTimestamp: 
        type: "string"
        format: "date-time"
      scores: 
        type: "array"
        items: 
          $ref: "#/definitions/Score"

  Competitions: 
    type: "object"
    properties: 
      competitionId: 
        type: "integer"
      userNameOne:
        type: "string"
      userNameTwo: 
        type: "string"
      scoreOne: 
        type: "integer"
      scoreTwo: 
        type: "integer"
      creationTimestamp: 
        type: "string"
        format: "date-time"

      
        
  